@import "variables";

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    background-image: url("../assets/img/hero-image.jpg");
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
  }

  &__container {
    width: 100%;
    background-color: $lightColorMoreTransparent;
    padding: 8px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 172px;
    height: 100px;

    @media (min-width: 768px) {
      width: 182px;
      height: 120px;
    }
  }

  &__header {
    @include h1_mobile;
    text-align: center;
    margin: 0 0 0 8px;
    color: #4d4d4d;
    text-transform: uppercase;

    @media (min-width: 768px) {
      @include h1;
      margin: 0 0 0 24px;
      max-width: 380px;
    }
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px;
    right: 8px;
    background-color: $lightColorTransparent;
    padding: 0 6px;
    color: $darkColor;
    opacity: 0;
    transform: translateX(1000px);

    @media (min-width: 768px) {
      bottom: 16px;
      right: 12px;
    }
  }

  &__info {
    &:hover {
      .hero__info-content {
        opacity: 1;
        transform: translateX(0);
        z-index: 11;
      }
    }
  }

  &__paragraph {
    font-size: 12px;
    margin: 6px 0;
    width: 280px;
    line-height: 18px;
    @media (min-width: 768px) {
      width: 380px;
    }
  }

  &__button {
    position: absolute;
    bottom: 16px;
    right: 12px;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/information-button.svg");
    border: none;
    cursor: pointer;
    z-index: 12;

    &:hover {
      .hero__info {
        display: block;
      }
    }

    @media (min-width: 768px) {
      bottom: 22px;
      right: 18px;
      width: 32px;
      height: 32px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: $lightColor;
    min-height: calc(100vh + 32px);
    min-width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background-color: $lightColor;
    filter: blur(4px);
    width: 120vw;
    height: 24px;
    bottom: -16px;
    left: -12px;
  }
}