@import "variables";

.hero {
  width: 100%;
  height: calc(100vh + 32px);
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 280px;
    background-color: $lightColorMoreTransparent;
    border-radius: 6px;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      width: 580px;
    }
  }

  &__logo {
    margin-bottom: 32px;
    width: 172px;
    height: 100px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
      width: 240px;
      height: 168px;
    }
  }

  &__header {
    @include h1_mobile;
    margin: 0;
    text-align: center;

    @media (min-width: 768px) {
      @include h1;
      margin-bottom: 8px;
      max-width: 380px;
    }
  }

  &__background {
    position: absolute;
    top: -16px;
    left: 0;
    height: calc(100vh + 16px);
    z-index: -1;
    background-color: $lightColor;

    @media (min-width: 768px) {
      top: -32px;
      height: calc(100vh + 32px);
    }

    @media (max-height: 800px) and (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1700px) {
      top: -32px;
      min-height: calc(100vh + 32px);
      width: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background-color: $lightColorTransparent;
    filter: blur(4px);
    width: 120%;
    height: 24px;
    bottom: 12px;
    left: -12px;
  }
}