@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
.hero {
  width: 100%;
  height: calc(100vh + 32px);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container {
  width: 280px;
  background-color: rgba(246, 246, 246, 0.6);
  border-radius: 6px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero__container {
    width: 580px;
  }
}
.hero__logo {
  margin-bottom: 32px;
  width: 172px;
  height: 100px;
}
@media (min-width: 768px) {
  .hero__logo {
    margin-bottom: 24px;
    width: 240px;
    height: 168px;
  }
}
.hero__header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 8px;
    max-width: 380px;
  }
}
.hero__background {
  position: absolute;
  top: -16px;
  left: 0;
  height: calc(100vh + 16px);
  z-index: -1;
  background-color: #28282D;
}
@media (min-width: 768px) {
  .hero__background {
    top: -32px;
    height: calc(100vh + 32px);
  }
}
@media (max-height: 800px) and (min-width: 768px) {
  .hero__background {
    width: 100%;
  }
}
@media (min-width: 1700px) {
  .hero__background {
    top: -32px;
    min-height: calc(100vh + 32px);
    width: 100%;
  }
}
.hero:after {
  content: "";
  position: absolute;
  background-color: rgba(246, 246, 246, 0.8);
  filter: blur(4px);
  width: 120%;
  height: 24px;
  bottom: 12px;
  left: -12px;
}

@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navigation {
  width: calc(100% - 32px);
  background-color: rgba(246, 246, 246, 0.8);
  border-radius: 6px;
  z-index: 2;
  backdrop-filter: blur(6px);
  transition: background-color ease-in 0.4s;
  position: fixed;
  top: 8px;
  left: 16px;
}
@media (min-width: 768px) {
  .navigation {
    width: calc(100% - 64px);
    top: 16px;
    left: 32px;
  }
}
@media (min-width: 1440px) {
  .navigation {
    width: calc(100% - 256px);
    top: 16px;
    left: 128px;
  }
}
.navigation__container {
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .navigation__container {
    height: 68px;
  }
}
.navigation__home {
  position: absolute;
  top: 2px;
  left: 4px;
}
@media (min-width: 768px) {
  .navigation__home {
    top: 4px;
    left: 16px;
  }
}
.navigation__logo {
  width: auto;
  height: 32px;
}
@media (min-width: 768px) {
  .navigation__logo {
    height: 60px;
  }
}
.navigation__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 36px;
  left: 1%;
  width: 98%;
  background-color: rgba(246, 246, 246, 0.8);
  border-radius: 0 0 4px 4px;
  opacity: 0;
  transition: background-color ease-in-out 0.4s;
}
@media (min-width: 768px) {
  .navigation__list {
    display: block;
    position: static;
    background-color: transparent;
    border-radius: 0;
    opacity: 1;
    width: auto;
    margin-right: 16px;
  }
}
.navigation__item {
  text-align: center;
  border-bottom: solid 2px #28282D;
  transition: border-bottom-color ease-in-out 0.4s;
}
.navigation__item--last {
  border-bottom: none;
}
@media (min-width: 768px) {
  .navigation__item {
    display: inline-block;
    border-bottom: none;
  }
}
.navigation__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  color: #28282D;
  text-decoration: none;
  display: block;
  padding: 16px 0;
  transition: all ease-in-out 0.4s;
}
.navigation__link:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    padding: 0 16px 0 0;
    color: #28282D;
  }
}
.navigation__button {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
}
.navigation__language {
  width: 24px;
  height: 16px;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .navigation__language {
    margin-right: 16px;
    width: 28px;
    height: 18px;
  }
}
.navigation__hamburger {
  width: 20px;
  height: 18px;
  margin: 0 12px;
}
@media (min-width: 768px) {
  .navigation__hamburger {
    display: none;
  }
}

.visible {
  display: block;
  opacity: 1;
  animation: opacityUp ease-in-out 0.6s;
}

.darkBackground {
  background-color: rgba(40, 40, 45, 0.2);
}

.darkerBackground {
  background-color: rgba(40, 40, 45, 0.9);
}

.lightText {
  color: #F6F6F6;
}

.lightBorder {
  border-bottom: solid 2px #F6F6F6;
}

.offert {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .offert {
    flex-direction: row;
  }
}
.offert__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 36px 0;
}
@media (min-width: 768px) {
  .offert__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 80px 0 0;
    text-align: center;
    max-width: 220px;
  }
}
.offert__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.offert__item {
  padding-left: 36px;
  margin-bottom: 24px;
  position: relative;
}
.offert__item--last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .offert__item {
    padding-left: 56px;
    margin-bottom: 36px;
  }
  .offert__item--last {
    margin-bottom: 0;
  }
}
.offert__item:before {
  content: "";
  display: block;
  width: 24px;
  height: 26px;
  position: absolute;
  background-image: url("../assets/img/dot_mobile.svg");
  top: -4px;
  left: 0;
}
@media (min-width: 768px) {
  .offert__item:before {
    background-image: url("../assets/img/dot_desktop.svg");
    width: 34px;
    height: 42px;
    top: -8px;
    left: 0;
  }
}
.offert__link {
  color: #28282D;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  transition: opacity ease-in-out 0.4s;
}
.offert__link:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .offert__link {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    text-decoration: none;
  }
}

.scanning {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scanning__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .scanning__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 64px 0;
  }
}
@media (min-width: 1024px) {
  .scanning__container {
    display: flex;
  }
}
.scanning__paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin: 0 0 12px 0;
  padding: 0 8px;
  max-width: 480px;
}
@media (min-width: 768px) {
  .scanning__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 48px 0;
    max-width: 580px;
  }
}
@media (min-width: 1024px) {
  .scanning__paragraph {
    margin: 0 32px 0 0;
  }
}
.scanning__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
@media (min-width: 768px) {
  .scanning__grid {
    grid-template-columns: 200px 144px 100px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    margin-left: 48px;
  }
}
@media (min-width: 1024px) {
  .scanning__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px 1fr 80px 1fr;
    grid-row-gap: 12px;
    margin-left: 0;
  }
}
.scanning__icon {
  width: 48px;
  height: 48px;
}
.scanning__icon-container {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .scanning__icon-container {
    display: block;
    margin-left: 24px;
  }
}
@media (min-width: 1024px) {
  .scanning__icon-container {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .scanning__icon {
    width: 64px;
    height: 64px;
  }
}
@media (min-width: 1024px) {
  .scanning__icon {
    width: 80px;
    height: 80px;
  }
}
.scanning__counter {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 14px;
  margin: 0;
  padding-top: 6px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .scanning__counter {
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
    order: -2;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .scanning__counter {
    order: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.scanning__number {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 14px;
}
.scanning__number--red {
  color: #FF0000;
  padding: 0 4px;
}
.scanning__number--blue {
  color: #0000FF;
  padding-right: 4px;
}
.scanning__number--green {
  color: #42DE42;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .scanning__number {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
  }
}

.consulting {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.consulting__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .consulting__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 32px 0;
  }
}
@media (min-width: 1280px) {
  .consulting__header {
    margin: 0 0 64px 0;
  }
}
.consulting__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .consulting__container {
    flex-direction: row;
  }
}
.consulting__paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin: 0 0 32px 0;
  max-width: 480px;
  padding: 0 8px;
}
@media (min-width: 768px) {
  .consulting__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 580px;
  }
}
@media (min-width: 1280px) {
  .consulting__paragraph {
    margin: 0 64px 0 0;
  }
}
.consulting__placeholder {
  width: 300px;
  height: 178px;
  background-color: #C4C4C4;
}
@media (min-width: 768px) {
  .consulting__placeholder {
    width: 580px;
    height: 240px;
  }
}
@media (min-width: 1280px) {
  .consulting__placeholder {
    width: 480px;
    height: 340px;
  }
}

.modeling {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modeling__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .modeling__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 32px 0;
  }
}
@media (min-width: 1280px) {
  .modeling__header {
    margin: 0 0 64px 0;
  }
}
.modeling__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .modeling__container {
    flex-direction: row;
  }
}
.modeling__paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin: 0 0 32px 0;
  max-width: 480px;
  padding: 0 8px;
}
@media (min-width: 768px) {
  .modeling__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 580px;
  }
}
@media (min-width: 1280px) {
  .modeling__paragraph {
    margin: 0 64px 0 0;
  }
}
.modeling__placeholder {
  width: 300px;
  height: 178px;
  background-color: #C4C4C4;
}
@media (min-width: 768px) {
  .modeling__placeholder {
    width: 580px;
    height: 240px;
  }
}
@media (min-width: 1280px) {
  .modeling__placeholder {
    width: 480px;
    height: 340px;
  }
}

.realizations {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.realizations__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .realizations__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 64px 0;
  }
}
.realizations__cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50vw;
  transition: transform ease-in-out 0.5s;
}
@media (min-width: 1024px) {
  .realizations__cards {
    grid-column-gap: 64px;
  }
}
.realizations__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.realizations__button-left, .realizations__button-center, .realizations__button-right {
  border: none;
  outline: transparent;
  display: block;
  width: calc(200px + 12vw);
  height: calc(300px + 20vw);
  background-color: #C4C4C4;
  padding: 0;
  transition: transform ease-in-out 0.4s;
}
.realizations__button-left:hover, .realizations__button-center:hover, .realizations__button-right:hover {
  transform: scale(1.06);
}
@media (min-width: 1024px) {
  .realizations__button-center {
    width: calc(220px + 8vw);
    height: calc(340px + 12vw);
  }
}
@media (min-width: 1024px) {
  .realizations__button-left, .realizations__button-right {
    width: calc(200px + 6vw);
    height: calc(300px + 10vw);
  }
}
.realizations__switch-left, .realizations__switch-right {
  display: block;
  position: absolute;
  top: 50%;
  width: 16px;
  height: 30px;
  padding: 0;
  border: none;
  z-index: 2;
  outline: transparent;
  background: transparent;
}
@media (min-width: 1024px) {
  .realizations__switch-left, .realizations__switch-right {
    display: none;
  }
}
.realizations__switch-left {
  left: calc(10% - 24px);
  background-image: url("../assets/icons/arrow-left.svg");
}
.realizations__switch-right {
  right: calc(10% - 24px);
  background-image: url("../assets/icons/arrow-right.svg");
}

.switchRight {
  transform: translateX(calc(-62vw - 200px));
}

.switchLeft {
  transform: translateX(calc(62vw + 200px));
}

.iconLeftTransparent {
  background-image: url("../assets/icons/arrow-left-transparent.svg");
}

.iconRightTransparent {
  background-image: url("../assets/icons/arrow-right-transparent.svg");
}

.pop-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(189, 189, 189, 0.6);
  backdrop-filter: blur(6px);
  z-index: 5;
  padding: 8px;
}
@media (min-width: 768px) {
  .pop-up {
    flex-direction: row;
    padding: 16px;
  }
}
@media (min-width: 1024px) {
  .pop-up {
    width: calc(80% + 176px);
    min-height: auto;
    height: 56vh;
    top: 22vh;
    left: calc(10% - 88px);
    padding: 24px;
  }
}
@media (min-width: 1200px) {
  .pop-up {
    width: 80%;
    min-height: auto;
    height: 70vh;
    top: 15vh;
    left: 10%;
    padding: 64px;
  }
}
@media (min-width: 768px) {
  .pop-up__container {
    margin: 0 24px 0 0;
  }
}
@media (min-width: 1024px) {
  .pop-up__container {
    margin: 0 48px 0 0;
  }
}
.pop-up__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 1024px) {
  .pop-up__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 32px 0;
  }
}
.pop-up__paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin: 0 0 24px 0;
  max-width: 280px;
}
@media (min-width: 768px) {
  .pop-up__paragraph {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .pop-up__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 440px;
  }
}
.pop-up__placeholder {
  width: 280px;
  height: 178px;
  background-color: #7F7F7F;
}
@media (min-width: 768px) {
  .pop-up__placeholder {
    width: 440px;
    height: 340px;
  }
}
.pop-up__close {
  border: none;
  background-color: transparent;
  outline: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/close.svg");
  z-index: 6;
}

.visible-popUpLeft {
  display: flex;
  animation: popUpAnimationLeft ease-in-out 0.8s;
}

.visible-popUpCenter {
  display: flex;
  animation: popUpAnimationCenter ease-in-out 0.8s;
}

.visible-popUpRight {
  display: flex;
  animation: popUpAnimationRight ease-in-out 0.8s;
}

@keyframes popUpAnimationLeft {
  from {
    opacity: 0;
    transform: translateX(-500px) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes popUpAnimationCenter {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popUpAnimationRight {
  from {
    opacity: 0;
    transform: translateX(500px) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.references {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.references__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .references__header {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 64px 0;
  }
}
.references__cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 50vw;
  transition: transform ease-in-out 0.5s;
}
@media (min-width: 1024px) {
  .references__cards {
    grid-column-gap: 32px;
  }
}
.references__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.references__link {
  display: block;
  width: calc(200px + 12vw);
  height: calc(300px + 20vw);
  padding: 0;
  margin: 0;
  transition: transform ease-in-out 0.4s;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 1024px) {
  .references__link {
    width: calc(96px + 6vw);
    height: calc(144px + 12vw);
  }
}
.references__link--1 {
  background-image: url("../assets/img/ref1_pl.png");
}
.references__link--2 {
  background-image: url("../assets/img/ref2_pl.png");
}
@media (min-width: 1024px) {
  .references__link--2 {
    width: calc(96px + 8vw);
    height: calc(144px + 14vw);
  }
}
.references__link--3 {
  background-image: url("../assets/img/ref3_pl.png");
}
@media (min-width: 1024px) {
  .references__link--3 {
    width: calc(96px + 10vw);
    height: calc(144px + 16vw);
  }
}
.references__link--4 {
  background-image: url("../assets/img/ref4_pl.png");
}
@media (min-width: 1024px) {
  .references__link--4 {
    width: calc(96px + 8vw);
    height: calc(144px + 14vw);
  }
}
.references__link--5 {
  background-image: url("../assets/img/ref5.png");
}
.references__link:hover {
  transform: scale(1.06);
}
.references__switch-left, .references__switch-right {
  display: block;
  position: absolute;
  top: 50%;
  width: 16px;
  height: 30px;
  padding: 0;
  border: none;
  z-index: 2;
  outline: transparent;
  background: transparent;
}
@media (min-width: 1024px) {
  .references__switch-left, .references__switch-right {
    display: none;
  }
}
.references__switch-left {
  left: calc(10% - 24px);
  background-image: url("../assets/icons/arrow-left.svg");
}
.references__switch-right {
  right: calc(10% - 24px);
  background-image: url("../assets/icons/arrow-right.svg");
}

.switchRight {
  transform: translateX(calc(-62vw - 200px));
}

.switchLeft {
  transform: translateX(calc(62vw + 200px));
}

.switchRight2 {
  transform: translateX(calc(2 * (-62vw - 200px)));
}

.switchLeft2 {
  transform: translateX(calc(2 * (62vw + 200px)));
}

.iconLeftTransparent {
  background-image: url("../assets/icons/arrow-left-transparent.svg");
}

.iconRightTransparent {
  background-image: url("../assets/icons/arrow-right-transparent.svg");
}

.contact {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__container {
  padding: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  top: 30%;
  left: 10%;
  z-index: 2;
}
@media (min-width: 768px) {
  .contact__container {
    top: 25%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .contact__adress-container {
    margin-right: 128px;
  }
}
.contact__paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  font-weight: 400;
  margin: 0 0 8px 0;
}
@media (min-width: 768px) {
  .contact__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.contact__paragraph--adress {
  margin: 0 0 32px 0;
}
.contact__link {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
}
@media (min-width: 768px) {
  .contact__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.contact__link--mail {
  color: #0000FF;
  margin: 0 0 32px 0;
}
.contact__link--tel {
  color: #FF0000;
}
.contact__map {
  width: 100%;
  height: 420px;
}
@media (min-width: 768px) {
  .contact__map {
    height: 320px;
  }
}

.footer {
  min-height: 88px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    min-height: 112px;
  }
}
.footer__icon {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .footer__icon {
    width: 64px;
    height: 64px;
    margin-left: 64px;
  }
}
.footer__icon--yt {
  width: 64px;
  margin-left: 0;
}
@media (min-width: 768px) {
  .footer__icon--yt {
    width: 90px;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  color: #28282D;
  background-color: #F6F6F6;
  background-image: url("../assets/img/bg_mobile.svg");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
@media (min-width: 768px) {
  body {
    background-image: url("../assets/img/bg_desktop.svg");
  }
}
@media (max-height: 800px) {
  body {
    background-image: url("../assets/img/bg_laptop.svg");
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
