@import "~normalize.css";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

@import "hero";
@import "navigation";
@import "offert";
@import "scanning";
@import "consulting";
@import "modeling";
@import "realizations";
@import "pop-up";
@import "references";
@import "contact";
@import "footer";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $lightColor;
}

::-webkit-scrollbar-thumb {
  background: #C2C3C7;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0A1A5;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $darkColor;
  background-color: $lightColor;

  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
