@import "variables";

@mixin hamburger-line {
  width: 100%;
  height: 2px;
  background-color: rgba($darkColor, 0.9);
  position: absolute;
}

.navigation {
  width: 100%;
  background-color: $lightColorMoreTransparent;
  z-index: 5;
  backdrop-filter: blur(6px);
  transition: background-color ease-in 0.4s;

  position: fixed;
  top: 0;
  left: 0;

  &__container {
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;

    @media (min-width: 768px) {
      height: 68px;
      padding-right: 0;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    background-color: $darkColorLessTransparent;
    border-radius: 0 0 4px 4px;
    transform: translateY(-300px);
    z-index: 4;

    @media (min-width: 768px) {
      transform: translateY(0);
      position: static;
      background-color: transparent;
      border-radius: 0;
      opacity: 1;
      width: auto;
      margin-right: 16px;
    }
  }

  &__item {
    text-align: center;
    border-bottom: solid 2px $lightColor;
    transition: border-bottom-color ease-in-out 0.4s;

    &--last {
      border-bottom: none;
    }

    @media (min-width: 768px) {
      display: inline-block;
      border-bottom: none;
    }
  }

  &__link {
    @include nav_item_mobile;
    color: $lightColor;
    text-decoration: none;
    display: block;
    padding: 16px 0;
    transition: all ease-in-out 0.4s;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }

    @media (min-width: 768px) {
      @include normal;
      display: inline-block;
      padding: 0 32px 0 0;
      color: $darkColor;
    }
  }

  &__button {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
  }

  &__language {
    width: 24px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;

    @media (min-width: 768px) {
      margin-right: 16px;
      width: 28px;
      height: 18px;
    }
  }

  &__hamburger {
    display: inline-block;
    position: fixed;
    top: 6px;
    right: 12px;
    border: none;
    padding: 4px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 4;

    @media (min-width: 768px) {
      display: none;
    }

    &:focus {
      outline: $green solid 1px;
    }

    &--active .hamburger__inner {
      background-color: transparent;
    }

    &--active .hamburger__inner::before {
      transform: translateY(6px) rotate(45deg);
    }

    &--active .hamburger__inner::after {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.hamburger {
  &__box {
    width: 18px;
    height: 12px;
    display: inline-block;
    position: relative;
  }

  &__inner {
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .1s ease-in-out;

    &::before, &::after {
      @include hamburger-line;
      content: "";
      left: 0;
      transition: transform .3s ease-in-out;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }
}

.visible {
  transform: translateY(0);
}

.menu--animation {
  transition: transform .4s .1s ease-in-out;
}