@import "variables";

@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation {
  width: calc(100% - 32px);
  background-color: $lightColorTransparent;
  border-radius: 6px;
  z-index: 2;
  backdrop-filter: blur(6px);
  transition: background-color ease-in 0.4s;

  position: fixed;
  top: 8px;
  left: 16px;

  @media (min-width: 768px) {
    width: calc(100% - 64px);
    top: 16px;
    left: 32px;
  }

  @media (min-width: 1440px) {
    width: calc(100% - 256px);
    top: 16px;
    left: 128px;
  }

  &__container {
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: 768px) {
      height: 68px;
    }
  }

  &__home {
    position: absolute;
    top: 2px;
    left: 4px;

    @media (min-width: 768px) {
      top: 4px;
      left: 16px;
    }
  }

  &__logo {
    width: auto;
    height: 32px;

    @media (min-width: 768px) {
      height: 60px;
    }
  }

  &__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 36px;
    left: 1%;
    width: 98%;
    background-color: $lightColorTransparent;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    transition: background-color ease-in-out 0.4s;

    @media (min-width: 768px) {
      display: block;
      position: static;
      background-color: transparent;
      border-radius: 0;
      opacity: 1;
      width: auto;
      margin-right: 16px;
    }
  }

  &__item {
    text-align: center;
    border-bottom: solid 2px $darkColor;
    transition: border-bottom-color ease-in-out 0.4s;

    &--last {
      border-bottom: none;
    }

    @media (min-width: 768px) {
      display: inline-block;
      border-bottom: none;
    }
  }

  &__link {
    @include nav_item_mobile;
    color: $darkColor;
    text-decoration: none;
    display: block;
    padding: 16px 0;
    transition: all ease-in-out 0.4s;

    &:hover {
      opacity: 0.5;
    }

    @media (min-width: 768px) {
      @include normal;
      display: inline-block;
      padding: 0 16px 0 0;
      color: $darkColor;
    }
  }

  &__button {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
  }

  &__language {
    width: 24px;
    height: 16px;
    margin-right: 12px;

    @media (min-width: 768px) {
      margin-right: 16px;
      width: 28px;
      height: 18px;
    }
  }

  &__hamburger {
    width: 20px;
    height: 18px;
    margin: 0 12px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.visible {
  display: block;
  opacity: 1;
  animation: opacityUp ease-in-out 0.6s;
}

.darkBackground {
  background-color: $darkColorTransparent;
}

.darkerBackground {
  background-color: $darkColorLessTransparent;
}

.lightText {
  color: $lightColor;
}

.lightBorder {
  border-bottom: solid 2px $lightColor;
}