@import "variables";

.pop-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(#BDBDBD, 0.6);
  backdrop-filter: blur(6px);
  z-index: 5;
  padding: 8px;

  @media (min-width: 768px) {
    padding: 16px;
  }

  @media (min-width: 1024px) {
    width: calc(80% + 176px);
    min-height: auto;
    height: 56vh;
    top: 22vh;
    left: calc(10% - 88px);
    padding: 24px;
  }

  @media (min-width: 1200px) {
    width: 80%;
    height: 70vh;
    top: 15vh;
    left: 10%;
    padding: 64px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;

    @media (min-width: 768px) {
      margin: 0 24px 0 0;
      max-width: none;
    }

    @media (min-width: 1024px) {
      margin: 0 48px 0 0;
    }
  }

  &__header {
    @include h2_mobile;
    margin: 0 0 24px 0;

    @media (min-width: 1024px) {
      @include h2;
      margin: 0 0 32px 0;
    }
  }

  &__paragraph {
    @include normal_mobile;
    margin: 0 0 24px 0;
    max-width: 380px;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1024px) {
      @include normal;
      max-width: 440px;
    }
  }

  &__animation {
    width: 280px;
    height: 178px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      width: 440px;
      height: 340px;
      margin-bottom: 0;
    }
  }

  &__counter {
    max-width: 320px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: none;
    }

    &-paragraph {
      @include counter_text_mobile;
      margin: 8px 0;

      @media (min-width: 768px) {
        margin: 8px 12px;
        max-width: 320px;
      }
    }

    &-number {
      @include counter_number_mobile;
    }
  }

  &__close {
    border: none;
    background-color: transparent;
    outline: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    background-image: url("../assets/icons/close.svg");
    z-index: 6;
  }
}

.visible-popUpLeft {
  display: flex;
  animation: popUpAnimationLeft ease-in-out 0.8s;
}

.visible-popUpCenter {
  display: flex;
  animation: popUpAnimationCenter ease-in-out 0.8s;
}

.visible-popUpRight {
  display: flex;
  animation: popUpAnimationRight ease-in-out 0.8s;
}

@keyframes popUpAnimationLeft {
  from {
    opacity: 0;
    transform: translateX(-500px) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes popUpAnimationCenter {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popUpAnimationRight {
  from {
    opacity: 0;
    transform: translateX(500px) scale(0.1);
  }
  to {
    opacity: 1;
    transform:  translateX(0) scale(1);
  }
}