@import "variables";

.realizations {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  opacity: 0;
  transition: opacity ease-in-out 1.6s;

  &__header {
    @include h2_mobile;
    margin: 0 0 24px 0;
    text-transform: uppercase;

    @media (min-width: 768px) {
      @include h2;
      margin: 0 0 64px 0;
    }
  }

  &__cards {
    display: flex;
    margin: 0 25vw;
    align-items: center;
    transition: transform ease-in-out 0.5s;

    @media (min-width: 1024px) {
      grid-column-gap: 64px;
    }
  }

  &__container-left, &__container-center, &__container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(200px + 12vw);
    height: calc(300px + 20vw);
    background-color: #C4C4C4;
    transition: transform ease-in-out 0.4s;
    position: relative;
    margin: 0 25vw;
    background-position: center;
    background-size: cover;

    @media (min-width: 1024px) {
      margin: 0;
    }

    &:hover {
      transform: scale(1.06);
    }
  }

  &__container-center {
    background-image: url("../assets/img/centrum.jpg");

    @media (min-width: 1024px) {
      width: calc(220px + 8vw);
      height: calc(340px + 12vw);
    }
  }

  &__container-left {
    background-image: url("../assets/img/scan.jpg");
  }

  &__container-right {
    background-image: url("../assets/img/library1.jpg");
  }

  &__container-left, &__container-right {
    @media (min-width: 1024px) {
      width: calc(200px + 6vw);
      height: calc(300px + 10vw);
    }
  }

  &__bar {
    width: 100%;
    background-color: $lightColorTransparent;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__paragraph {
    @include normal_mobile;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
      @include normal;
    }
  }

  &__button-left, &__button-center, &__button-right {
    border: none;
    outline: transparent;
    display: block;
    width: calc(200px + 12vw);
    height: calc(300px + 20vw);
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform ease-in-out 0.4s;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__button-center {
    @media (min-width: 1024px) {
      width: calc(220px + 8vw);
      height: calc(340px + 12vw);
    }
  }

  &__button-left, &__button-right {
    @media (min-width: 1024px) {
      width: calc(200px + 6vw);
      height: calc(300px + 10vw);
    }
  }

  &__switch-left, &__switch-right {
    display: block;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    padding: 0;
    border: none;
    z-index: 2;
    background: transparent;
    transition: opacity ease-in-out 1.6s;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__switch-left {
    left: calc(10% - 24px);
    background-image: url("../assets/icons/arrow-left.svg");
  }

  &__switch-right {
    right: calc(10% - 24px);
    background-image: url("../assets/icons/arrow-right.svg");
  }
}

.switchRight {
  transform: translateX(calc(-62vw - 200px));
}

.switchLeft {
  transform: translateX(calc(62vw + 200px));
}

.iconLeftTransparent {
  background-image: url("../assets/icons/arrow-left-transparent.svg");
}

.iconRightTransparent {
  background-image: url("../assets/icons/arrow-right-transparent.svg");
}

.realizationsVisible {
  opacity: 1;
}