@import "variables";

.references {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  opacity: 0;
  transition: opacity ease-in-out 1.6s;

  &__header {
    @include h2_mobile;
    margin: 0 0 24px 0;
    text-transform: uppercase;

    @media (min-width: 768px) {
      @include h2;
      margin: 0 0 64px 0;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 50vw;
    transition: transform ease-in-out 0.5s;

    @media (min-width: 1024px) {
      grid-column-gap: 32px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    width: calc(200px + 12vw);
    height: calc(300px + 20vw);
    padding: 0;
    margin: 0;
    transition: transform ease-in-out 0.4s;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (min-width: 1024px) {
      width: calc(96px + 6vw);
      height: calc(144px + 12vw);
    }

    &--1 {
      background-image: url("../assets/img/ref1_pl.png");
    }

    &--2 {
      background-image: url("../assets/img/ref2_pl.png");
      @media (min-width: 1024px) {
        width: calc(96px + 8vw);
        height: calc(144px + 14vw);
      }
    }

    &--3 {
      background-image: url("../assets/img/ref3_pl.png");
      @media (min-width: 1024px) {
        width: calc(96px + 10vw);
        height: calc(144px + 16vw);
      }
    }

    &--4 {
      background-image: url("../assets/img/ref4_pl.png");
      @media (min-width: 1024px) {
        width: calc(96px + 8vw);
        height: calc(144px + 14vw);
      }
    }

    &--5 {
      background-image: url("../assets/img/ref5.png");
    }

    &:hover {
      transform: scale(1.06);
    }
  }

  &__switch-left, &__switch-right {
    display: block;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    padding: 0;
    border: none;
    z-index: 2;
    outline: transparent;
    background: transparent;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__switch-left {
    left: calc(10% - 24px);
    background-image: url("../assets/icons/arrow-left.svg");
  }

  &__switch-right {
    right: calc(10% - 24px);
    background-image: url("../assets/icons/arrow-right.svg");
  }
}

.switchRight {
  transform: translateX(calc(-62vw - 200px));
}

.switchLeft {
  transform: translateX(calc(62vw + 200px));
}

.switchRight2 {
  transform: translateX(calc(2 * (-62vw - 200px)));
}

.switchLeft2 {
  transform: translateX(calc(2 * (62vw + 200px)));
}

.iconLeftTransparent {
  background-image: url("../assets/icons/arrow-left-transparent.svg");
}

.iconRightTransparent {
  background-image: url("../assets/icons/arrow-right-transparent.svg");
}

.referencesVisible {
  opacity: 1;
}